@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: $text-color1;/ */
    font-family: "Lato", serif;
    
}

body{
  background-color: #031418f6;
  background-clip: border-box;
  background-repeat: no-repeat;
  /* position: relative;
  height: 100vh;
  bottom: 0; */

}
h1{
  font-family: "Road Rage", serif;
  font-weight: 400;
  font-style: normal;
font-size: 48px;}
  h2{
    font-family: "Rubik", sans-serif;

  }
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #093547f6;
  /* border-radius: 10px; */
  width: 100%;
  /* margin: auto; */
  background-color: #031418f6;
  margin-bottom: 20px;
  padding:10px;

}
header h2{
  color: #093547f6;
}
header nav{
  display: none;
  
  
}
aside{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding:5px 10px;
  border-left:2px solid #086b8ff6;
margin-left: 10px;

}
li{
  list-style: none;
  margin-top: 20px;
  
}

.nav-item{
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.nav-item:hover{
  border-bottom:2px solid #086b8ff6;

}
header button{
  /* margin:10px auto; */
  background-color: rgb(219, 232, 238); 
  border:1px solid #086b8ff6;
  color: #086b8ff6;
  cursor: pointer;
  padding:5px  0;
  border-radius: 5px;
  width: max-content;
  /* height: max-content; */
  align-items: center;
  /* margin-top: 12px; */
}
header h2{
  display: none;
}
.toggle{
  color: white;
  width: 30px;
  height: 30px;
  /* position: relative; */
  /* top: 10px; */
  /* margin-top: 12px; */

}
#info{
    border: 2px solid #093547f6;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  background-color: rgba(9, 44, 59,0.2);
  backdrop-filter: blur(2px);
  color: white;
}

#info-container{
  display: block;
  /* height: 100vh; */
  border: 2px solid #093547f6;
  border-radius: 10px;
  width: 80%;
  margin:20px auto;
  background-color: rgba(255, 255, 255,0.1); 
  background: linear-gradient(175deg,#042230f6, rgba(255, 255, 255,0.1), #041922, #042230f6);

  backdrop-filter: blur(5px);
  color: white;

}
#info h3{
  /* margin: auto; */
  text-align: left;
  color: white;
  margin-left: 15px;
  font-size: 16px;
}
#ticket-container{
  display: none;
  width: 100%;
}
#attendeeForm{
  display: none;

}
.intro{
  /* height: 100vh; */
  border: 2px solid #093547f6;
  border-radius: 10px;
  width: 90%;
  margin:20px auto;
  background-color: rgba(4, 25, 34,.3); 
  background: linear-gradient(175deg, rgba(4, 25, 34,.3), #042230f6);

  backdrop-filter: blur(5px);
  color: white;
  text-align: center;
  padding: 20px 10px;
  display: block;
}
.intro h1{
  width: 90%;
  margin:10px auto;
  font-size: 40px;
  
}
.intro p{
  width: 95%;
  margin:10px auto;
  line-height: 20px;
}
 hr{
  width: 90%;
  margin:20px auto;
  color: rgb(4, 25, 34); 
  border:1px solid #1f4a5af6;

}

#ticket{
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 2px solid #093547f6;
  border-radius: 10px;
  /* width: 80%; */
  margin:20px auto;
  background-color: rgba(4, 25, 34,.3); 
  /* background: linear-gradient(175deg, rgba(4, 25, 34,.3), #042230f6); */

  backdrop-filter: blur(5px);
  color: white;
  padding: 20px 10px;
}
.ticket-type{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #093547f6;
  border-radius: 10px;
  padding:  20px;
  background-color: rgba(4, 25, 34,.3);
  cursor: pointer;
  margin-top: 15px;

}
.ticket-type:hover{
  background-color: rgba(99, 137, 153, 0.3);
  /* background-color: rgba(77, 92, 99, 0.1); */

}
.type{
  margin: auto;
  width: 80%;

}
.ticket-num{
  width: 90%;
  margin:10px auto;
}
.ticket-num input{
  width: 100%;
  border: 2px solid #093547f6;
  border-radius: 10px;
  padding:  10px;
  margin:10px auto;
  color: white;
  background-color: rgba(4, 25, 34,.3);
  outline: none;

}
.btn{
  width: 80%;
  margin:10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn input{
  border: 2px solid #093547f6;
  border-radius: 10px;
  padding:  10px;
  background-color: rgba(4, 25, 34,.3);
  color: white;
  width: 80%;
  cursor: pointer;
  margin:10px auto;

}
.btn input:hover{
  background-color: rgba(14, 173, 241, 0.3);

}


#personal-info{
  display: none;
}
.input-cont{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin:10px auto;

}
form div label{
  width: 90%;
  font-size: 16px;
}
form div input{
  width: 100%;
  border:1px solid #1f4a5af6;
  border-radius: 10px;
  padding: 5px;
  margin:5px auto;
  color: white;
  background-color: rgba(4, 25, 34,.3);
  outline: none; 
}
textarea{
  width: 100%;
  margin:10px auto;
  background-color: rgba(4, 25, 34,.3); 
  border:1px solid #1f4a5af6;
  color: white;
  text-align: left;
  overflow-y: hidden;
  outline: none; 
  padding: 10px;
  border-radius: 10px;


}
.btn-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin:10px auto;
}
.submit-btn{
  margin:10px auto;
  background-color: rgba(4, 25, 34,.3); 
  border:1px solid #086b8ff6;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}
.submit-btn:hover{
  background-color: rgb(12, 99, 136); 

}
@media (min-width: 600px) {
  aside{
    display: none;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    background-color: #031418f6;
    padding:10px;
    margin-bottom: 20px;
  }
  header h2{
    color: #107ba5f6;
    display: block;
    font-family: "Jacquard 12", serif;
    font-weight: 400;
  font-style: normal;
  margin-top: 10px;

  }
  .toggle{
    display: none;
  }
 header nav{
    background-color: #031418f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
      font-size: 14px;
    align-items: center;
    margin-bottom: 15px;
  }
  li{
    list-style: none;
  }
  .nav-item{
    text-decoration: none;
    color: white;
  }
  header .btnn{
    /* margin:10px auto; */
    background-color: rgb(219, 232, 238); 
    border:1px solid #086b8ff6;
    /* color: white/; */
    cursor: pointer;
    padding:5px 10px;
    border-radius: 5px;
    /* width: max-content; */
    height: max-content;
    align-items: center;
    margin-top: 12px;
  }

  /* query 2 */
  #info{
  
    width: 70%;
  }
  
  #info-container{
    display: block;
    width: 90%;
    margin:20px auto;
  
  }
  #info h3{
    text-align: left;
    color: white;
    margin-left: 15px;  
  }
  #ticket-container{
    display: none;
    width: 100%;
  }
  #attendeeForm{
    display: none;
  
  }
  .intro{
    /* height: 100vh; */

    width: 90%;
    text-align: center;
    padding: 20px 10px;
    display: block;
  }
  .intro h1{
    width: 90%;
    margin:10px auto;
    font-size: 42px;
  }
  .intro p{
    width: 90%;
    margin:10px auto;
    line-height: 25px;
  }
   hr{
    width: 90%;
    margin:20px auto;
  
  }
  
  #ticket{
    width: 90%;
    display: flex;
    flex-direction: column;
    /* width: 80%; */
    margin:20px auto;
    text-align: center;
    padding: 20px 10px;
  }
  .ticket-type{
    background-color: rgba(4, 25, 34,.3);
    cursor: pointer;
  
  }
  .ticket-num{
    width: 80%;
    margin:10px auto;
  }
  .ticket-num input{
    width: 90%;
  
  }
  .btn{
    width: 70%;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn input{
    width: 40%;  
  }
  .input-cont{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:10px auto;
  }
  form div label{
    width: 90%;
    font-size: 16px;
  }
  form div input{
    width: 100%;
    border:1px solid #1f4a5af6;
    border-radius: 10px;
    padding: 5px;
    margin:5px auto;
    color: white;
    background-color: rgba(4, 25, 34,.3);
    outline: none; 
  }
  textarea{
    width: 100%;
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #1f4a5af6;
    color: white;
    text-align: left;
    overflow-y: hidden;
    outline: none; 
    padding: 10px;
    border-radius: 10px;
  
  
  }
  .btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:10px auto;
  }
  .submit-btn{
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #086b8ff6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
  }
  .submit-btn:hover{
    background-color: rgb(12, 99, 136); 
  
  }
}@media (min-width: 768px) {
  aside{
    display: none;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    background-color: #031418f6;
    padding:10px;
    margin-bottom: 20px;
  }
  
  nav{
    background-color: #031418f6;
  
   backdrop-filter:(blur 0.5) ;
    /* padding:  20px; */
    
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  
    /* color: $text-color2; */
    font-size: 14px;
    align-items: center;
  }
  li{
    list-style: none;
  }
  .nav-item{
    text-decoration: none;
    color: white;
  }
  header .btnn{
    /* margin:10px auto; */
    background-color: rgb(219, 232, 238); 
    border:1px solid #086b8ff6;
    /* color: white/; */
    cursor: pointer;
    padding:5px 10px;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    align-items: center;
    margin-top: 12px;
  }

   /* query 2 */
   #info{
  
    width: 70%;
  }
  
  #info-container{
    display: block;
    width: 90%;
  
  }
  #info h3{
    text-align: left;
    color: white;
    margin-left: 15px;
  
  }
  #ticket-container{
    display: none;
    width: 100%;
  }
  #attendeeForm{
    display: none;
  
  }
  .intro{
    width: 90%;
    margin:20px auto;
    display: block;
  }
  .intro h1{
    width: 70%;
    margin:10px auto;
  }
  .intro p{
    width: 90%;
    margin:10px auto;
    line-height: 20px;
  }
  #ticket{
    width: 97%;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 15px;
    margin:20px auto;

    /* padding: 20px 10px; */
  }
  .ticket-type{
    display: flex;
    flex-direction: column;
    
    /* padding:  10px; */
  }
  .ticket-num{
    width: 80%;
    margin:10px auto;
  }
  .ticket-num input{
    width: 90%;
    border: 2px solid #093547f6;
    border-radius: 10px;
    padding:  10px;
    margin:10px auto;
    color: white;
    background-color: rgba(4, 25, 34,.3);
    outline: none;
  
  }
  .btn{
    width: 50%;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn input{
    border: 2px solid #093547f6;
    border-radius: 10px;
    padding:  10px;
    background-color: rgba(4, 25, 34,.3);
    color: white;
    width: 40%;
    cursor: pointer;
  
  }
  .btn input:hover{
    background-color: rgba(14, 173, 241, 0.3);
  
  }
  
  
  #personal-info{
    display: none;
  }
  .input-cont{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:10px auto;
  
  }
  form div label{
    width: 90%;
    font-size: 16px;
  }
  form div input{
    width: 100%;
    border:1px solid #1f4a5af6;
    border-radius: 10px;
    padding: 5px;
    margin:5px auto;
    color: white;
    background-color: rgba(4, 25, 34,.3);
    outline: none; 
  }
  textarea{
    width: 100%;
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #1f4a5af6;
    color: white;
    text-align: left;
    overflow-y: hidden;
    outline: none; 
    padding: 10px;
    border-radius: 10px;
  
  
  }
  .btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:10px auto;
  }
  .submit-btn{
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #086b8ff6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
  }
  .submit-btn:hover{
    background-color: rgb(12, 99, 136); 
  
  }
}
@media (min-width: 1100px) {
  aside{
    display: none;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    background-color: #031418f6;
    padding:10px;
    margin-bottom: 20px;
  }
  
  nav{
    background-color: #031418f6;
  
   backdrop-filter:(blur 0.5) ;
    /* padding:  20px; */
    
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
  
    /* color: $text-color2; */
    font-size: 14px;
    align-items: center;
  }
  li{
    list-style: none;
  }
  .nav-item{
    text-decoration: none;
    color: white;
  }
  header .btnn{
    /* margin:10px auto; */
    background-color: rgb(219, 232, 238); 
    border:1px solid #086b8ff6;
    /* color: white/; */
    cursor: pointer;
    padding:5px 10px;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    align-items: center;
    margin-top: 12px;
  }

   /* query 2 */
   #info{
  
    /* height: 100vh; */
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: rgba(9, 44, 59,0.2);
    backdrop-filter: blur(2px);
    color: white;
  
    /* align-self: center;
    align-items: center;
    align-content: center; */
  }
  
  #info-container{
    display: block;
    width: 60%;
    margin:20px auto;
    background-color: rgba(255, 255, 255,0.1); 
    background: linear-gradient(175deg,#042230f6, rgba(255, 255, 255,0.1), #041922, #042230f6);
  
    backdrop-filter: blur(5px);
    color: white;
  
  }
  #info h3{
    /* margin: auto; */
    text-align: left;
    color: white;
    margin-left: 15px;
  
  }
  #ticket-container{
    display: none;
    width: 100%;
  }
  #attendeeForm{
    display: none;
  
  }
  .intro{
    /* height: 100vh; */
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 90%;
    margin:20px auto;
    background-color: rgba(4, 25, 34,.3); 
    background: linear-gradient(175deg, rgba(4, 25, 34,.3), #042230f6);
  
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: block;
  }
  .intro h1{
    width: 70%;
    margin:10px auto;
  }
  .intro p{
    width: 90%;
    margin:10px auto;
    line-height: 20px;
  }
   hr{
    width: 90%;
    margin:20px auto;
    color: rgb(4, 25, 34); 
    border:1px solid #1f4a5af6;
  
  }
  
  #ticket{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #093547f6;
    border-radius: 10px;
    width: 80%;
    margin:20px auto;
    background-color: rgba(4, 25, 34,.3); 
    /* background: linear-gradient(175deg, rgba(4, 25, 34,.3), #042230f6); */
  
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 20px 10px;
  }
  .ticket-type{
    border: 2px solid #093547f6;
    border-radius: 10px;
    padding:  10px;
    background-color: rgba(4, 25, 34,.3);
    cursor: pointer;
  
  }
  .ticket-type:hover{
    background-color: rgba(99, 137, 153, 0.3);
    /* background-color: rgba(77, 92, 99, 0.1); */
  
  }
  .ticket-num{
    width: 80%;
    margin:10px auto;
  }
  .ticket-num input{
    width: 90%;
    border: 2px solid #093547f6;
    border-radius: 10px;
    padding:  10px;
    margin:10px auto;
    color: white;
    background-color: rgba(4, 25, 34,.3);
    outline: none;
  
  }
  .btn{
    width: 50%;
    margin:10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn input{
    border: 2px solid #093547f6;
    border-radius: 10px;
    padding:  10px;
    background-color: rgba(4, 25, 34,.3);
    color: white;
    width: 40%;
    cursor: pointer;
  
  }
  .btn input:hover{
    background-color: rgba(14, 173, 241, 0.3);
  
  }
  
  
  #personal-info{
    display: none;
  }
  .input-cont{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:10px auto;
  
  }
  form div label{
    width: 90%;
    font-size: 16px;
  }
  form div input{
    width: 100%;
    border:1px solid #1f4a5af6;
    border-radius: 10px;
    padding: 5px;
    margin:5px auto;
    color: white;
    background-color: rgba(4, 25, 34,.3);
    outline: none; 
  }
  textarea{
    width: 100%;
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #1f4a5af6;
    color: white;
    text-align: left;
    overflow-y: hidden;
    outline: none; 
    padding: 10px;
    border-radius: 10px;
  
  
  }
  .btn-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:10px auto;
  }
  .submit-btn{
    margin:10px auto;
    background-color: rgba(4, 25, 34,.3); 
    border:1px solid #086b8ff6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
  }
  .submit-btn:hover{
    background-color: rgb(12, 99, 136); 
  
  }
}
